/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

body {
  background-color: #435165;
}