h1 {
    text-align: center;
    font-size:large;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    color:#ff9100;
}

h2{text-align: center;
    font-size:medium;
    color:#000000;
}


p{text-align: center;
    font-size:small;
    color:#000000;
}

nav {
    display: flex;
    align-items: center;
    background-color: rgb(255, 255, 255);
    background:inherit;
    border-radius:inherit
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

li {
    display: inline-block;
    position: relative;
}

li a {
    display: block;
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 15px;
}

li a:hover {
    background-color: rgb(255, 253, 253);
}

.dropdown {
    position: relative;
    left: 25%;
}

form {
    width: 600px;
    margin:10px auto;
    border: 2px solid #ccc;
    border-radius: 1px;
    padding: 20px;
    border-radius: 20px;
    box-sizing: border-box;
  }

  fieldset{
    border-radius: 20px;

    background-color: rgb(239, 179, 68);}
  
  form label {
    padding : 20px;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  form input {
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: rgb(246, 194, 97);
    border: solid 1px #a35400;
    font-weight: bold;
  }

  form select {
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: rgb(246, 194, 97);
    border: solid 1px #a35400;
    font-weight: bold;
  }

 button {
    width:220px;
    height: 40px;
    margin-left: 10px;
    margin: 5%;
    border: 2px solid rgb(255, 166, 0);
    background-color: rgb(255, 253, 253);
}

.dropdown-toggle {
    display: block;
    width: 120px;
    text-decoration: none;
    font: bold 12px Arial, Helvetica, sans-serif;
    color: #fff;
    padding: 10px 20px;
    border: solid 1px #a35400;
    background: #cd8c00;
}

.dropdown-toggle::after {
    display: block;
    background-color: rgb(0, 0, 0);
    color: #fff;
    padding: 15px;
    cursor: pointer;
    border-width: 1px;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    min-width: 100%;
    display: none;
    background-color: rgb(255, 255, 255);
}

.dropdown-menu li {
    display: block;
    color: orange;
    width: inherit;
    border: 4px solid rgb(255, 166, 0);
    background-color: rgb(255, 253, 253);
    cursor: pointer;
    border-width: 1px;
    padding: inherit;

}

.dropdown-menu ul {
    display: block;

}

.dropdown:hover .dropdown-menu {
    display: block;
}

.logo {
    width: 50%;
    height: 50%;
}

.container {
    display: grid;
    place-items: center;  /* centra gli elementi della griglia */
  }
  
  .section-choose{
    display: grid;
    place-items: center; 
    width: 60%;  /* riduci le dimensioni del 10% */
    height: 100%;  /* riduci le dimensioni del 10% */
    border: solid 1px #a35400;
    background: #cd8c00;
}

.section-choose a button {
    width:120px;
    height: 50px;
    margin: 10px;
    border: 2px solid rgb(255, 166, 0);
    background-color: rgb(255, 253, 253);
}
